.loginForm {
  text-align: center;
}
.signInForm{
  padding: 0 370px 0 370px;
}

.signin-box-container {
  background: url('/assets/images/background.png') no-repeat center center fixed;
  background-size: cover;
  display: table;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.form-field input[type='text'],input[type='password']{
  border: 0px solid #E1E3E7;
  
}

.input-border {
  border: 0;
}

.form-errors {
  color: red;
  text-align: end;
  width: 50%;
}

.bottom-border {
  border-bottom: 1px solid #b8b8b8;
}
