.loginForm {
  text-align: center;
}

.signin-box-container {
  background: url('/assets/images/background.png') no-repeat center center fixed;
  background-size: cover;
  display: table;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;

  /* .signin-box-inner-container {
    display: table-cell;
    vertical-align: middle;

    .ui-panel {
      .ui-panel-titlebar {
        padding: 0;
      }
    }

    .switch-btn {
      color: $defaultTextColor;
      cursor: pointer;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }

    .signin-box {
      margin: 0 auto;
      position: relative;
    }

    .logo-box {
      margin: 0 auto;
      position: relative;
    }

    .bottom-border {
      border-bottom: 1px solid #B8B8B8;
    }

    .forgot-password-link {
      color: $defaultTextColor;
      cursor: pointer;
      font-size: 12px;
    }

    .ui-state-default {
      border: 0;
    }

    .sign-in-buttons {
      border-radius: 18px;
      width: 100%;
    }

    input {
      &:hover {
        border: 0;
      }

      &:focus {
        border: 0;
      }
    }

    .read-more-button {
      background: transparent;
      border: 1px solid $white;
      border-radius: 18px;
      width: 75%;
    }

    .selected-menu {
      background-color: $defaultThemeColor;
      height: 4px;
      padding: 0;
    }

    .float-left {
      float: left;
    }

    .float-right {
      float: right;
    }

    h2 {
      color: $white;
      font-weight: normal;
      line-height: 2;
    }

    h4 {
      color: $white;
      font-weight: normal;
      line-height: 2;
    }

    .term-condition {
      margin: 15px 0;
    }
  } */
}

